td{
    background-color: aquamarine;
    color :black;
    font-size: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
}
table {
    margin : auto;
    cursor: pointer;
    
}
h1{
    text-align: center;
}
td:hover{
    background-color: rgb(63, 196, 152);
}
button{
    background-color: green;
    font-size: 10px;
    width: auto;
    height: auto;
    text-align: center;
}

body{
    background-image: linear-gradient( to right, rgb(0, 92, 128), rgb(0, 255, 234)) 
}
